<h1>MusicHead</h1>

<h3>Create a new account</h3>

<!--<form> this was all i was able to come up with-->
<form action=<%=users_url%> method="POST">
  <!--<input type="hidden" value="authenticity_token">twaiwatcuw-->
  <input type="hidden"
         name="authenticity_token"
         value="<%=form_authenticity_token%>" >

  <p><label for="user_email">Email</label>
  <input name="user[email]"
         id="user_email"></p>

  <p><label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password"></p>

  <input type="submit" value="Sign up!">
</form>

<br>
<%= link_to "or go to login page", new_session_url %>
