<div class="jumbotron">
  <h1>About</h1>
  <div class="col-xs-6">
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Enter the Void</a></p>
  </div>
  <div class="col-xs-6">
  </div>

</div>

<div class="row" class="text-center">
  <div class="col-xs-3">
    <%= image_tag("graphiti.jpg", class: "img-responsive img-circle") %>
    <p>Blahsoisg ojsdijsog jiosajgosiadjgoi sdjagoi jsado</p>
  </div>
  <div class="col-xs-3">
    <%= image_tag("Essential_singularity.png", class: "img-responsive img-circle") %>
    <p>Blahs oisg ojsdi jsogjiosaj gos iadjg oisdjago ijsado</p>
  </div>
  <div class="col-xs-3">
    <%= image_tag("warped herringbone 2.JPG", class: "img-responsive img-circle") %>
    <p>Blahs oisg ojsdij sog jiosaj go si a jgoi sdj ag oijsado</p>
  </div>
  <div class="col-xs-3">
    <%= image_tag("VLCScreenSnapz003.png", class: "img-responsive img-circle") %>
    <p>Bla soisg ojsdi jsogji osajgosi adjg oisdj ago i jsado</p>
  </div>
</div>
