<div class="row">

  <div class="col-xs-6">

    <form>
      <h1>Contact</h1>
      It's good to hear from you.<br>
      <textarea></textarea><br>
      <input type="button" class="btn btn-primary" value="Send">
    </form>

  </div>

  <div class="col-xs-6">

    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Phone</th>
      </tr>
      <tr>
        <td>Bob Bobson</td>
        <td>555-5554</td>
      </tr>
      <tr>
        <td>Robo-Raptor</td>
        <td>555-5666</td>
      </tr>
    </table>

  </div>

</div>
