<form action="<%=comments_url%>" method="POST">
  <input type="hidden"
    name="authenticity_token"
    value="<%=form_authenticity_token%>">

  <label>Content:
  <input name="comment[content]">
  </label>

  <input type="hidden"
  name="comment[parent_comment_id]"
  value=<%= @post.nil? ? @comment.id : nil %> >

  <input type="hidden" name="comment[post_id]"
    value=<%= @post.nil? ? @comment.post.id : @post.id %> >

  <input type="submit" value="Add Comment">

</form>
